@page "{id:int}"
@model ToyShop.Models.Toy
@{
    ViewData["Title"] = "Редактирование игрушки";
}
<h2>@ViewData["Title"]</h2>
 
<form asp-action="edit" asp-controller="home">
    <input asp-for="Id" type="hidden" />
    <div>
        <label>Имя</label>
        <div>
            <input asp-for="Name" />
            <span asp-validation-for="Name"></span>
        </div>
    </div>
    <div>
        <label>Тип</label>
        <div>
            <input asp-for="Type" />
            <span asp-validation-for="Type"></span>
        </div>
    </div>
    <div>
        <label>Цена</label>
        <div>
            <input asp-for="Price" type="number" />
            <span asp-validation-for="Price"></span>
        </div>
    </div>
    <div>
        <input type="submit" value="Сохранить" />
    </div>
</form>