@model IEnumerable<ToyShop.Models.Toy>
@{
    ViewBag.Title = "Все игрушки";
}
<a asp-action="Create">Добавить игрушку</a>
<table class="table">
    <tr>
        <td>Имя</td>
        <td>Тип</td>
        <td>Цена</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Type</td>
            <td>@item.Price</td>
        </tr>
    }
</table>