@model IEnumerable<ToyShop.Models.ToyType>
@{
    ViewData["Title"] = "Добавить тип игрушки";
}

<div>
    <h1>Добавить тип игрушки</h1>
    <form method="post">
        <table width="80%" class="table-condensed">
            <tr>
                <td>Название:</td>
                <td><input type="text" name="Name"/> </td>
            </tr>
            <tr><td><input type="submit" value="Отправить"/> </td><td></td></tr>
        </table>
    </form>
</div>
<p><a href="~/Type/Index">Вернуться к списку типов</a></p>
