@model ToyShop.Models.ToyType

@{
    ViewBag.Title = "Редактировать";
}

<h2>Редактировать</h2>

<div>
    <form method="post">
        <table width="80%" class="table-condensed">
            <tr>
                <td>Название:</td>
                <td><input type="text" value=@ViewBag.Name name="Name" /> </td>
            </tr>
            <tr><td><input type="submit" value="Отправить" /> </td><td></td></tr>
        </table>

    </form>
    <p><a href="~/Type/Index">Вернутся к списку типов</a></p>
</div>
<p>
