@model IEnumerable<ToyShop.Models.ToyType>
@{
    ViewData["Title"] = "Список типов игрушек";
}

<h3>Список типов игрушек</h3>

<form method="get" action="/Type/Index">
    <input type="text" value="" name="text" />
    <input type="submit" value="Поиск" />
</form>

<table width="80%" class="table-condensed">
    <tr>
        <td>Название</td>
        <td></td>
    </tr>
    
    @foreach (var type in Model) {
        <tr>
            <td>@type.Name</td>
            <td><a href="~/Type/Edit/@type.Id">Редактировать </a></td>
            <td><a href="~/Type/Delete/@type.Id">Удалить </a></td>
        </tr>
    }
</table>
<p><a href="~/Type/Create">Добавить</a></p>